.container{
    background-color: beige;
    width: 50vw;
    height: 50vh;
}

.box{
    background-color: aqua;
    width: 20vw;
    height: 20px;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.35, 0.82, 1, 0);
    transition-delay: 0s; */
    transition: all 3s ease-in-out 0.1s;
}

.translate{
    transform: translateX(10vh) translateY(10vw);
    background-color: blue;
}